:root {
    --color1: #808000;
    --color2: #006400;
    padding: 0 25px;
}
footer, section {
    padding: 100px 0;
}
header {
    padding: 25px 0;
}
header, footer {
    background: var(--color1);
    background: -moz-linear-gradient(45deg,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(45deg,  var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(45deg,   var(--color1) 0%,  var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= var(--color1),
    endColorstr= var(--color2),GradientType=1 );

}
button {
    color: var(--color1);
}